extends layout


block content
  .container
    h1 Welcome to the GUI Deployment interface #{user}
    .card.shadow-lg
      for app in apps
        .card 
          .row 
            .col 
              p #{app}
            .col 
              button.btn.btn-warning#enablessl(type="button" onclick="enablessl()" value=app) Enable SSL
              button.btn.btn-warning#disablessl(type="button" onclick="disablessl()" value=app) Disable SSL
            .col
              button.btn.btn-danger#destroy(type="button" onclick="destroy()" value=app) Destroy
    br
